@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout2.cshtml";
}


 <div class="card-header border-0">
              <h3 class="mb-0">Hakkımda Güncelleme</h3>
 </div>     
 
 @using(Html.BeginForm("Index","About",FormMethod.Post))
 {
     @Html.HiddenFor(x=>x.AboutID)
    <br /> <br /> 
   @Html.Label("Başlık Adı ")<br />  <br />
   @Html.TextBoxFor(x=>x.Title,new{@class="form-control"})
    <br />
   
    @Html.Label("Açıklama  ")<br />  <br />
   @Html.TextBoxFor(x=>x.Description,new{@class="form-control"})
    <br />
      @Html.Label("Yaş Değeri ")<br />  <br />
   @Html.TextBoxFor(x=>x.Age,new{@class="form-control"})
    <br />
        @Html.Label("Mail Değeri ")<br />  <br />
   @Html.TextBoxFor(x=>x.Mail,new{@class="form-control"})
    <br />
        @Html.Label("Telefon Değeri ")<br />  <br />
   @Html.TextBoxFor(x=>x.Phone,new{@class="form-control"})
    <br />
        @Html.Label("Adres Değeri ")<br />  <br />
   @Html.TextBoxFor(x=>x.Address,new{@class="form-control"})
    <br />
           @Html.Label("ImageUrl Değeri ")<br />  <br />
   @Html.TextBoxFor(x=>x.ImageUrl,new{@class="form-control"})
    <br />
    <button class="btn btn-primary">Güncelle</button>
  
 }