@using EntityLayer.Concrete
@model List<Portfolio>

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </th>
                                <th> Proje Adı </th>
                                <th> Fiyatı </th>
                                <th> Url </th>
                                <th> Platform </th>
                                <th> Statü </th>
                                <th> Oran % </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Take(10))
                            {
                            <tr>
                                <td>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="@item.Image1" alt="image" />
                                    <span class="pl-2">@item.Name</span>
                                </td>
                                <td> @item.Price </td>
                                <td> @item.ProjectUrl</td>
                                <td>  @item.Platform </td>
                                <td> @item.Status</td>
                                <td> @item.Value </td>
                                

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>